.l-about
  .about-mini-box
    %p
      flit
      %span とは
    %p
      主な意味　
      = succeed "、" do
        %span 飛び回る
      %span 行き交う
  .about-main
    %h2
      %span F
      %span L
      %span I
      %span T
      とは
    %p
      %span F
      aceBook,
      = succeed "ine," do
        %span L
      = succeed "nstagram," do
        %span I
      = succeed "witterの統合SNSサービスです。" do
        %span T
      %img{:src => "/flit1.jpg"}/
      あなたの趣味や特技、そして夢を世界中に
      %span F
      %span L
      %span I
      = succeed "しよう！！！" do
        %span T
      ダンス、イラスト、スポーツ、歌声、語学、なんでもいいんです。
      あなたの才能はすぐそこにある。
    -# %iframe{:allowfulscreen => "", :frameborder => "0", :height => "400px", :src => "flit.mp4"}
    %h2 4大SNS特徴
    %img{:src => "/flit2.png"}/
