.l-about
  .about--mini-box
    %p
      flit
      %span とは
    %p
      主な意味　
      = succeed "、" do
        %span 飛び回る
      %span 行き交う
  .about--main
    .about--main
      %h2
        %span.is-facebook F
        %span.is-line L
        %span.is-instagram I
        %span.is-twitter T
        とは
      %p
        = succeed "aceBook," do      
          %span.is-facebook F
        = succeed "ine," do
          %span.is-line L
        = succeed "nstagram," do
          %span.is-instagram I
        = succeed "witterの統合SNSサービスです。" do
          %span.is-twitter T
        = image_tag "flit1.jpg", alt: "SNS",class: "about--img__first"
        あなたの趣味や特技、そして夢を世界中に
        %span.is-facebook F
        %span.is-line L
        %span.is-instagram I
        = succeed "しよう！！！" do
          %span.is-twitter T
        %br
        ダンス、イラスト、スポーツ、歌声、語学、なんでもいいんです。
        %br
        あなたの才能はすぐそこにある。
    -# %iframe{:allowfulscreen => "", :frameborder => "0", :height => "400px", :src => "flit.mp4"}
    .about--side-box
      %h2 4大SNS特徴
      = image_tag "flit2.png", alt: "feature",class: "about--img__second"
