.main.posts-index
  .container
    %h1.form-heading FLIT一覧
    - @posts.each do |post|
      .posts-index-item
        .post-left
          %img{:src => "/user_images/#{post.user.image_name}"}/
          %h6
            = link_to(post.user.name, "/users/#{post.user.id}")
        .post-right
          - if post.image_name
            .post-image
              %img{:src => "/post_images/#{post.image_name}"}/
          = link_to(post.content, "/posts/#{post.id}")
          %p
            = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
