%header.l-header
	%h1.header-logo
		%a(href="/") CurveBean
	%nav.header-menu
		- if user_signed_in?
			%ul
				%li	
					= link_to "FLIT一覧", root_path
				%li 
					= link_to 'プロフィール変更', edit_user_registration_path
				%li 
					= link_to 'ログアウト', destroy_user_session_path, method: :delete
		- else 
			%ul
				- if current_page?("/about") 
					%li
						%a(href="/about")
							%span.is-facebook F
							%span.is-line L
							%span.is-instagram I
							%span.is-twitter T
							とは
				- else
					%li	
						= link_to 'F L I T へ', about_path
				%li	
					= link_to '新規登録', new_user_registration_path
				%li	
					= link_to 'ログイン', new_user_session_path
%p.is-notice 
	= notice
%p.is-alert 
	= alert